body {
    color: red;
    background-color: rgb(205, 202, 202);
    display: block;
}

div {
    border: 2px solid red;
    text-align: center;
}

#title {
    text-align: center;
    margin: 8px auto;
}

img#title {
    width: 100px;
    height: 100px;
    margin: 16px auto;
}

img {
    width: 200px;
    height: 200px;
    margin: auto;
}

/* Need to fix:
positioning of photo
positioning of text relative to photo
font
color (white sections with grey background)
split recipe into 3 equal sections
incorporate spans
improve the introduction section
*/