body {
    color: red;
    background-color: white;
    display: block;
}

div {
    vertical-align: top;
    text-align: center;
    color: black;
    border: 2px solid black;
    display: inline-block;
    background-color: rgb(198, 198, 198);
    /* Play around with margin here*/
    margin: 4em;
}

#title {
    text-align: center;
    margin: 8px auto;
    display: block;
}

img#title {
    width: 100px;
    height: 100px;
    margin: 16px auto;
}

img {
    width: 300px;
    height: 300px;
    margin: 32px auto;
}

a {
    display: block;
}


/* Need to fix:
font
incorporate spans
improve the introduction section
remove black solid border
*/